{{ define "main" }}
<div class="protocols-container">
  {{ range .Pages }}
    <div class="protocol-item">
      <a href="{{ .Permalink }}">
        {{ with .Params.image }}
          <img src="{{ .Params.image.src | relURL }}" alt="{{ .Title }}" class="protocol-image">
        {{ else }}
          <img src="/path/to/default/icon.png" alt="{{ .Title }}" class="protocol-image">
        {{ end }}
        <div class="protocol-info">
          <h3>{{ .Title }}</h3>
          <p>{{ .Params.description }}</p>
        </div>
      </a>
    </div>
  {{ end }}
</div>

<div class="publication-list">
  {{ $publications := .Site.Data.publications }}
  {{ if $publications }}
    {{ range $publications }}
      <div class="publication">
        <h2>{{ .title }}</h2>
        <p>Authors: 
          {{ with .author }}
            {{ range . }}
              {{ . }}{{ if not (eq . (index $.author (sub (len $.author) 1))) }}, {{ end }}
            {{ end }}
          {{ end }}
        </p>
        <p>Published in: {{ .booktitle }}, {{ .year }}</p>
      </div>
    {{ end }}
  {{ else }}
    <p>No publications found.</p>
  {{ end }}
</div>

{{ end }}
