{{ define "main" }}
<div class="protocols-container">
  {{ range .Pages }}
    <div class="protocol-item">
      <a href="{{ .Permalink }}">
        {{ with .Params.image }}
          <img src="{{ .Params.image.src | relURL }}" alt="{{ .Title }}" class="protocol-image">
        {{ else }}
          <img src="/path/to/default/icon.png" alt="{{ .Title }}" class="protocol-image">
        {{ end }}
        <div class="protocol-info">
          <h3>{{ .Title }}</h3>
          <p>{{ .Params.description }}</p>
        </div>
      </a>
    </div>
  {{ end }}
</div>
{{ end }}
