/* assets/css/custom.css */

/* Apply styles to slider titles and content */
.slider-title {
    font-size: 2rem; /* Default font size for larger screens */
    line-height: 1.3;
  }
  
  .slider-content {
    font-size: 1.25rem; /* Default font size for larger screens */
    line-height: 1.5;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .slider-title {
      font-size: 1.5rem; /* Smaller font size for smaller screens */
      line-height: 1.2;
    }
    .slider-content {
      font-size: 1rem; /* Smaller font size for smaller screens */
      line-height: 1.4;
      padding: 0 10px; /* Add padding to prevent text from touching the edges */
    }
  }
  