<style>
.custom-box {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of items */
  margin: 20px 0;
  gap: 20px; /* Space between items */
}

/* Styles for each item within the custom box */
.custom-box > div {
  flex: 1 1 calc(30% - 20px); /* Adjust for spacing */
  max-width: calc(30% - 20px); /* Ensure item width with margin */
  text-align: center;
  background: #7d4ba9;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

/* Hover effect */
.custom-box > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 8px rgba(0,0,0,0.2);
  background-color: #8c83e2bd;
}

/* Icon styling */
.custom-box .icon {
  margin-bottom: 10px;
}

.custom-box .icon img {
  width: 70px;
  height: 70px;
  padding: 10px;
  border: 2px solid #f8f9fa;
  border-radius: 10px;
  background-color: #f8f9fa;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Link styling */
.custom-box a {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: color 0.3s;
}

.custom-box a:hover {
  color: inherit;
}

/* Heading and paragraph styling */
.custom-box h3, .custom-box p {
  margin: 0;
}

/* Media Queries for Responsiveness */

/* Small screens (phones, 600px and down) */
@media (max-width: 600px) {
  .custom-box > div {
    flex: 1 1 100%; /* Full width */
    max-width: 100%; /* Full width */
  }
}

/* Medium screens (tablets, 600px and up) */
@media (min-width: 601px) and (max-width: 900px) {
  .custom-box > div {
    flex: 1 1 calc(48% - 20px); /* Two items per row */
    max-width: calc(48% - 20px); /* Two items per row */
  }
}

/* Large screens (desktops, 900px and up) */
@media (min-width: 901px) {
  .custom-box > div {
    flex: 1 1 calc(30% - 20px); /* Three items per row */
    max-width: calc(30% - 20px); /* Three items per row */
  }
}
 
</style>

<div class="custom-box">
  <div>
    <div class="icon"><img src="/img/publications.png" alt="Publications icon"></div>
    <a href="/publication">
      <h3>Publications</h3>
      <p>Explore our latest research publications.</p>
    </a>
  </div>

  <div>
    <div class="icon"><img src="/img/protocol.PNG" alt="Protocols icon"></div>
    <a href="/protocols">
      <h3>Protocols</h3>
      <p>Our contribution to the research community with several protocols and techniques.</p>
    </a>
  </div>

  <div>
    <div class="icon"><img src="/img/github.png" alt="GitHub icon"></div>
    <a href="https://github.com/CamunasLab">
      <h3>Open Code</h3>
      <p>We are committed to open science; our code is freely available on GitHub.</p>
    </a>
  </div>
</div>

  